@media screen and (width<=412px) {
    .nav{
        background: transparent linear-gradient(262deg, #0F2323 0%, #0F2323 40%) 0% 0% no-repeat padding-box;
        mix-blend-mode: normal;
        border: 1px solid #000000;
        display: flex;
        height: 61px;
        justify-content: space-around;
        align-items: center;
        }
        .nav img{
            filter: blur(1px);
            cursor: pointer;
        }
}