@media screen and (width<=412px) {
    .nav{
        background: #38383880 0% 0% no-repeat padding-box;
        mix-blend-mode: normal;
        border: 1px solid #000000;
        opacity: 1;
        display: flex;
        height: 4vh;
        justify-content: space-around;
        align-items: center;
        }
        .nav img{
            filter: blur(1px);
            cursor: pointer;
        }
}